.progressbar{
	margin-top: 50px;
	margin-bottom: 20px;
	width: 1190px;
	height: 55px;
}
.progressbar img{
	width: 554px;
	height: 55px;
	float: right;
}
.seccess{
	width: 1190px;
	height: 300px;
}
.seccessico{
	display: inline-block;
	width: 52px;
	height: 100px;
	float: left;
	padding-top: 10px;
}
.seccessdetail{
	float: left;
	margin-left: 20px;
	width: 400px;
	height: inherit;
}
.seccessdetail h4{
	display: inline-block;
	float: left;
	width: 400px;
	height: 30px;
	margin-bottom: 5px;
}
.seccessdetail p{
	margin-top: 10px;
	display: inline-block;
	width: 400px;
	line-height: 30px;
	font-size: 16px;
	color: #666666;
	font-weight: bold;
	float: left;
}
.seccessdetail strong{
	display: inline-block;
	width: 400px;
	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	margin-bottom: 50px;
	float: left;
}
.seccessdetail span{
	display: inline-block;
	font-weight: normal;
	width: 70px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: white;
	float: left;
	background-color: #1D7AD9;
	text-align: center;
}
.seccessdetail i{
	display: inline-block;
	width: 160px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	float: left;
	font-style: normal;
	font-weight: normal;
	margin-left: 6px;
	margin-left: 8px;
}
.seccessdetail b{
	font-weight: normal;
	display: inline-block;
	color: #FF7700;
	width: 160px;
	height: 28px;
	line-height: 28px;
	margin-left: 8px;
}
.seccessdetail img{
	width: 160px;
	height: 48px;
	border: 1px solid #DDDDDD;
	margin-left: 8px;
}

.paypage{
	width: 1008px;
	height: 321px;
	border: 1px solid #DEDEDE;
	margin-left: 72px;
	padding-left: 40px;
	padding-top: 28px;
}
.tips{
	width: 968px;  
	height: 125px;
	margin-top: 20px;
	background-color: #F2F2F2;
	padding-top: 18px;
}
.tips p{
	line-height: 25px;
	padding-left: 28px;
}
.send{
	background-color: white;
	color: gray;
	margin-left: 10px;
	border:1px solid gainsboro;
	padding:2px 4px;
	
}
.moment{
	background-color: white;
	border: none;
	color: white;
	margin-left: 56px;
	margin-top: 12px;
	width: 90px;
	height: 32px;
	background-color: #FF7701;
}
.tel{
	width: 246px;
	height: 27px;
	border: 1px solid gainsboro;
}
.check{
	width: 128px;
	height: 27px;
	border: 1px solid gainsboro;
	margin-top: 12px;
}
.paytips{
	margin-left: 10px;
}
